#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  .root-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem;
  }
}

.logements-list{
  width: 100%;
  max-width: 1240px;
  min-height: 350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 30px; 
  background-color: rgba(246, 246, 246, 1);
  border-radius: 10px;    
  padding : 50px ;
  box-sizing: border-box;
  margin-top: clamp(40px,5vw,80px) ;

  
  @media (max-width: 1240px) and (min-width: 769px) {
      grid-template-columns: repeat(2,1fr);
      padding: clamp(20px,3vw,50px);
  }

 @media (max-width: 768px) and (min-width: 375px){
      background-color: white;
      padding: 0;
      padding-top: 10px;
      min-width: auto;    
  }
}