.txt-collabs { //les 4 collabs
    top: 5em;
    position: relative;
    align-items: center;
    width: 1023px;
    margin: 0 auto;
    display: grid;

    @media (max-width:768px){
        margin-bottom: -90px;
    }

    @media (max-width: 1240px) and (min-width: 375px) {
        width: 100%;
        max-width: 1023px;
        min-width:335px ;
        min-height: 180px;
    }

}

