.txt-collabs { //les 4 collabs
    top: 5em;
    position: relative;
    align-items: center;
    width: 1023px;
    margin: 0 auto;
    display: grid;

    @media (max-width: 1440px) and (min-width: 375px) {
        width: 100%;
    }

}

