.carousel{
    position: relative;
    max-width: 1240px;
    top: 20px;
    margin: 0 auto;

    img{
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    }

    .btn-carousel{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    

        .btn-next,
        .btn-prev {
            background-color: transparent;
            justify-content: center;
            align-items: center;
            display: flex;
            border: none;
        }

        .btn-next:focus,
        .btn-prev:focus{
            outline: none;
        }
       
        svg{
            width: clamp(11.67px, 6vw, 46.68px);
            height: clamp(19.8px, 10vw, 79.2px);
            color: white;
        }
    }

    .carousel-count{
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat';
        top: -60px;
        position: relative;
        color: white;
    }

    @media (min-width:769px) and (max-width: 1240px){
        
       img{
        width: clamp(705px, 100vw, 1240px);
        height: 415px;
       }
    }

    @media (min-width : 375px ) and (max-width : 768px) {
        min-width: 335px;
        min-height: 255px;
        width: 100%; 
       
        .carousel-count{
        display: none;
       }

       img { 
        min-width: 335px;
        height: clamp(255px, 54vw, 415px);
        width: 100%; 
       }
    
    }
   
}