.collabs-a-propos{
    color: white;
    font-size: 24px;
    background-color: rgba(255, 96, 96, 1);
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-family: "Montserrat";
    overflow: hidden;
 
    .collabs-barre {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      cursor: pointer;
      height: 52px;
    }
 
    .collabs-txt {
      padding: 0.1rem;
      background-color: #F6F6F6;
      font-size: 20px;
      color: black;
      font-weight: normal;
      text-align: left;   
      transition: max-height 0.3s ease-in-out; 
    }

    .collabs-title{
      flex: 1;
      text-align: left;
    }

    .collabs-icon {
      display: flex;
      transition: transform 0.3s ease;
    }
    .collabs-icon.open {
      transform: rotate(-180deg);
    }
  } 