.container-error{
    padding: 1rem;
    margin: 0 auto;
}

#error-page{
    position: relative;
    top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 300px;

    h1{
       
        font-size: clamp(96px, 20vw, 288px);
        font-family: "Montserrat";
        font-weight: 700;
        color: rgba(255, 96, 96, 1);
        margin: 0;
    }

    p{
        color: rgba(255, 96, 96, 1);
        font-size: clamp(18px, 4vw, 36px);
        font-family: "Montserrat";
        font-weight: 500;
        padding-top: 100px;
        max-width: 20ch; 
    }

    a{
        color: black;
        text-decoration: underline;
        font-weight: 500;
        font-size: clamp(14px, 2.5vw, 18px);
        padding-top: 100px;
    }

    @media (min-width: 768px) {
        p {
        max-width: 80ch;
        }
    }
}