.footer {
    height: 209px;     
    display: flex;
    background-color: black;
    justify-content: center;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; 
    margin-left: auto; 
    margin-right: auto; 

    .kasa-logo-footer {
        width: 122px;
        height: 39.44px;
        margin-bottom: 40px;
    }

    p {
        color: white;
        font-size: 24px;
        margin: 0;
        font-weight: 500;
    }

    @media (max-width : 768px){
        margin-top: 180px;
        min-width: 375px; 

        p{
            font-size: 12px;
            width: 120px;
        }
    }
}
