.footer {
    height: 209px;     
    display: flex;
    background-color: black;
    justify-content: center;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
    margin-left: auto; 
    margin-right: auto; 

    .kasa-logo-footer {
        width: 122px;
        height: 39.44px;
        margin-bottom: 40px;
    }

    p {
        color: white;
        font-size: 24px;
        margin: 0;
        font-weight: 500;
    }

    @media (max-width:1240px) and (min-width:769px){

        p{
            font-size: clamp(18px,2.5vw, 24px);
        }
    }

    @media (min-width:375px) and (max-width : 768px){
        min-width: 375px; 

        p{
            font-size: clamp(12px,2.5vw,18px);
            width: 140px;
        }
    }
}
