header{
    position: relative;
    width: 1240px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    z-index: 1000;
    margin: 0 auto;

    img{
        display: block;
        height: 68px;
        width: 210.32px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .nav-list {
        display: flex;
        gap: 57px;
        list-style: none;   

        .nav-link{
            color: black;
            font-size: 24px;
            font-family: "Montserrat";
        }

        .nav-link.active{
            text-decoration: underline;
        }
    } 

    @media (max-width: 1240px) and (min-width: 769px){
        width: 100%;
        min-width: 335px;
       

        img {
            width: clamp(177px, 7vw, 210px);
            height: clamp(57px,5vw,46.88px);
        }

        .nav-list {
            gap: 26px; 

            .nav-link {
                font-size: clamp(18px,2.5vw,24px); 
                white-space: nowrap;
            }
        }
    }

    @media (min-width : 375px ) and (max-width : 768px) {
        width: 100%;
        min-width: 335px;

        img {
            width: clamp(145px, 8vw, 177px);
            height: clamp(46.88px, 6vw, 57px);
        }

        .nav-list {
            gap: 26px; 

            .nav-link {
                font-size: clamp(12px,2.5vw,18px); 
                white-space: nowrap;
            }
        }
    
    }
   
}
