header{
    position: relative;
    width: 1240px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
   
    img{
        display: block;
    }

    .nav-list {
        display: flex;
        gap: 57px;
        list-style: none;   

        .nav-link{
            color: black;
            font-size: 24px;
            font-family: "Montserrat";
        }

        .nav-link.active{
            text-decoration: underline;
        }
    }
}
