.logement-detail{
    font-weight: 500;
    font-family: 'Montserrat';
    position: relative;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    
    .info{
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .info-position{
        position: relative;
        height: auto;
        padding-top: 20px;
        

        .txt-logement{
            height: auto;

                h2{
                    font-weight: 500;
                    font-size: 36px;
                    color: #FF6060;
                    text-align: left;
                    margin: 0;
                }
            
            .logement-location{
                margin: 0;
                text-align: left;
                font-size: 18px;
                color: #000000;
                height: 26px;
                width: auto;
            }
        }
    
        .logement-tag{
         display: flex;
         gap: 20px;
         padding-top: 20px;

 
         .one-tag{
             width: 115px;
             background-color: #FF6060;
             font-weight: 700;
             font-size: 14px;
             color: white;
             height: 25px;
             border-radius: 10px;
             align-items: center; 
             justify-content: center;
             display: flex;    
             white-space: nowrap;   
             padding: 0 20px;          
        }
     }
    }
 
     .info-proprio{
        position: relative;
        margin-left: auto;
        width: 200px;
        padding-top: 5px;

        .logement-host{
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            left: 30px;
    
                .name-host{
                font-size: 18px;
                color: #FF6060;
                width: 93px;
                text-align: right;
                }
                
                .image-host{
                height: 64px;
                width: 64px;
                border-radius : 64px;
                }
        }
 
        .logement-rating{
            position: relative;
            font-size: 36px;

                .star{
                    color:#E3E3E3 ;
                }
        
                .star.full{
                    color:#FF6060 ;
                }
        }
    }

    .collabs-logement{
        position: relative;
        width: 1240px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 76px;
        padding-top: 20px;

        >*{ //pour que chaque collabs est la mm width
            width:582px;
            font-size: 18px;
        }

        .collabs-title{
           font-size: 18px;
        }
    }

    @media (min-width:769px) and (max-width: 1240px){
        display: flex;
        flex-direction: column;

        .collabs-logement{
            width: 100%;
            display: grid;

            >*{
            position: relative;
            height: 100%;
            width: 100%; 
            max-width: 582px;
            }
            
            .collabs-title{
                font-size: clamp(15px, 2.5vw, 18px);
            }
        }

        .info-position{ 
            display: flex;
            flex-direction: column;
            
            .txt-logement{
                h2{
                    font-size: clamp(24px, 3vw, 36px );
                    }
            
                .logement-location{
                    font-size: clamp(14px, 2.5vw, 18px);
                }       
            }
        }

        .info-proprio{
            display: flex;
            flex-direction: column;
            padding-top: 0px;
            .logement-host{
                    .name-host{
                        font-size: clamp(15px, 5vw, 18px);
                    }
                    .image-host{
                        height: clamp(48px, 5vw,64px);
                        width: clamp(48px, 5vw,64px);
                    }
            }
            .logement-tag{
                    .one-tag{
                        font-size: clamp(12px, 2.5vw,14px);   
                        width: clamp(99px, 2.5vw,115px ) ;
                        height: clamp(21px, 2.5vw, 25px) ;     
                    }
                }
                .logement-rating{
                    font-size: clamp(27px, 4vw, 36px );
                }
        }
    }

    @media (min-width : 375px ) and (max-width : 768px) {
        height: 513px;
        margin-bottom: 0;
        padding-bottom: 200px;

       .collabs-logement{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;

            >*{
                width: 100%;
            }
            .collabs-title{
                font-size: clamp(13px, 2.5vw, 15px);
            }
       }
  
       .info-position{
        padding-top: 40px;
            .txt-logement{
                position: relative;
                height: 73px;

                h2{
                    font-size: clamp(18px, 4vw, 24px );
                    width: 335px;
                }
                
                .logement-location{
                    font-size: clamp(14px, 2.5vw, 16px);
                }
            }
            .logement-tag{
                .one-tag{
                    font-size: clamp(10px, 2.5vw,12px);        
                    width: clamp(84px, 2.5vw,99px ) ;
                    height: clamp(18px, 2.5vw,21px ) ;
                }
            }
        }

        .info-proprio{
            padding-top: 40px;
            .logement-host{
                    .name-host{
                        font-size: clamp(12px, 5vw, 15px);
                        width: 80px;
                    }
                    .image-host{
                        height: clamp(32px, 5vw,48px );
                        width: clamp(32px, 5vw, 48px);
                    }
            }

            .logement-rating{
                font-size: clamp(18px, 4vw, 27px);
            }
    }
 }

}